// Color Palette
$dark-blue: #0d334c;
$red: #DA0000;
$orange: #C74A14;
$dark-grey: #0d334c;
$light-grey: #f2f2f2;
$medium-grey: #f0ebeb;
$white: #ffffff;
$black: #333;

// Color Tokens
$primary: $orange !default;
$secondary: $dark-blue !default;
$error: $red !default;
$font-color: $dark-grey !default;
$border-color: $medium-grey;
$hover-color: $light-grey;
$alt-background-color: $light-grey;
$icon-color: $secondary;
$dark-overlay: rgba($black, .7);

// Generic
$font-family: 'Raleway', Arial, Helvetica, sans-serif !default;
$base-font-size-digit: 16;
$device-breakpoints: (
    sm: 768px,
    md: 1024px,
);
$border-radius: 8px;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
$box-shadow-highlight: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$page-content-side-spacing: 0 30px;